@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jua&family=Outfit:wght@100..900&display=swap');

/* Base Styles */
body {
    background-color: #f7eeee;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}

.book-info .descripcionUSER {
    margin-top: 1.5rem;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    margin-right: 40px;
}

.book-actions {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-right: 50px;
    margin-top: 2rem;
}

.action-left, .action-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.action-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
}

.btn {
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    display: inline-block;
    text-align: center;
}

.pdf {
    background-color: #A176C9;
    color: white;
}

.pdf:hover {
    background-color: #8a5aa8;
}

.sucursales {
    background-color: #248F8B;
    color: white;
}

.sucursales:hover {
    background-color: #195a58;
}


.cta-footer {
    text-align: center;
    margin-right: 40px;
}

/* Botón sin subrayado */
.btn-footer {
    font-size: 1.8em;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    color: #A176C9;
    text-decoration: none;
    padding: 8px 20px;
    cursor: pointer;
    display: inline-block;
    margin-right: 50px;
}

.section-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.book-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.8rem;
}

.book-header h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #404040;
    margin-top: 0;
}

.book-header .borde-gen {
    font-size: 1rem;
    font-weight: 200;
    color: #404040;
    padding: 10px 20px;
    border: 2px solid #AD95C3;
    border-radius: 20px;
    display: inline-block;
}

.btn-back{
    color: #A176C9;
    font-weight: 500;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
}

.book-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 30px;
    align-items: flex-start;
}

.book-content img {
    width: 300px;
    height: 460px;
    object-fit: cover;
    border-radius: 8px;
}

.book-info p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.5;
}

.book-info .descripcion {
    margin-top: 1.5rem;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

/* CTA for login/register */
.login-prompt {
    text-align: center;
    margin-top: 20px;
    color: #248F8B;
    font-size: 14px;
}

.login-prompt a {
    color: rgb(41, 117, 131);
    text-decoration: underline;
    font-weight: 500;
}