.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 140px; 
    height: 100vh;
    background-color: #e5f7f5;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.sidebar-logo {
    font-size: 1.8em;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    color: #A176C9;
    text-decoration: none;
    margin-bottom: 30px;
}

.sidebar-nav ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar-nav ul li {
  list-style: none;
  width: 100%;
  margin: 10px 0;
}

.user-centered {
  font-weight: bold;
  font-size: 1.1em;
  color: #4C5251;
}

.user-centered a {
    justify-content: center;
    color: #4C5251;
    text-decoration: none;
    display: block;
    padding: 10px 0;
  margin-bottom: 30px;
}

.logout {
  margin-top: auto;
  margin-bottom: 20px;
}

.logout a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #4C5251;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s;
  margin-top: 200px;
}

.logout a:hover {
  background-color: rgba(161, 118, 201, 0.1);
  border-radius: 4px;
}

.sidebar-nav ul li a,
.sidebar-nav ul li strong {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    color: #4C5251;
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    font-size: 1em;
    right: 0;
    font-weight: 400;
    transition: background-color 0.3s;
}

.sidebar-nav ul li a i {
    font-size: 1.1em;
    min-width: 10px;
    text-align: center;
    color: #4C5251;
}

.auth-container {
    margin-left: 160px;
    padding: 10px;
}
