{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/detalles.css' %}">
{% endblock %}

{% block title %}{{ item.titulo }} - Detalles{% endblock %}

{% block content %}
<section class="book-detail">
    <div class="section-content">
        <!-- Encabezado de 3 columnas -->
        <div class="book-header">
            {% if page_from == 'dashboard' %}
                <a href="{% url 'dashboard' %}" class="btn-back">< Atrás</a>
            {% else %}
                <a href="{% url 'userDirectory' %}" class="btn-back">< Atrás</a>
            {% endif %}
            <h1>{{ item.titulo }}</h1>
            <p class="borde-gen"><strong>{{ item.genero }}</strong></p>
        </div>

        <!-- Contenido de 2 columnas -->
        <div class="book-content">
            {% if item.portadaurl %}
                <img src="{{ item.portadaurl }}" alt="Portada de {{ item.titulo }}">
            {% endif %}
            <div class="book-info">
                <p><strong>Autor:</strong> {{ item.autor }}</p>
                <p><strong>Editorial:</strong> {{ item.editorial }}</p>
                <p class="descripcion"><strong>Sinopsis:</strong> {{ item.descripcion }}</p>

                <div class="book-actions">
                    <div class="action-left">
                        <p class="action-title">Leer ahora</p>
                        <a href="{{ item.urlpdf }}" target="_blank" class="btn pdf">Descargar PDF</a>
                    </div>
                    <div class="action-right">
                        <p class="action-title">Encuéntralos en físico</p>
                        <a href="#" class="btn sucursales">Ver sucursales</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="cta-footer">
        <div class="cta-serenti">
            <a href="{% url 'dashboard' %}" class="btn-footer">Serenti</a>
        </div>
    </section>
</section>
{% endblock %}
